@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    /* text-align: center; */
}
body{
    background-color: rgba(102, 102, 105, 0.1);
}
nav{
    height: 40px;
    position: sticky ;
    top:0;
}
 ul{
    background-color: blue;
    color: white;
    text-align: center;
    height: inherit;
}
ul li {
    display: inline-block;
    margin-left: 10px;
    height: inherit;
    padding: 10px 10px 0 ;

}
 ul li a{
    text-align: center;
    color: white;
    text-decoration: none;
    height: inherit;

}
 ul li:hover{
    background-color:darkblue;

}
.main-image{
    background-image: url(../imges/output.png);
    height: 300px;
    background-size: cover;
    background-position:center 0;
    background-repeat: no-repeat;
    
    
}
h1{
    padding-top: 20px;
    text-align: center;
    /* background-image: url(/priject1/imges/word4.png); */
    background-clip: text ;
    
}

.content {
    margin: auto;
    text-align: center;


}
.content p {
    margin:0 50px 50px;
}
.clouds{
    text-align: center;
}
img{
    height: 200px;
}
.container{
    width:80%;
    margin: auto;
    text-align: center;
}
.container h2 {
    margin: 20px 0 ;
    font-size: 30px;
}
.features{
    display: flex;
}
.feature{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-left: 10px ;
    background-color: rgb(93, 93, 99,0.7) ;
    border-radius: 10px;
    padding:10px;
    color: black;
    cursor: pointer;
}
.feature:hover{
    box-shadow: 3px 3px 10px  ;
    transition: all 0.3;
    transform:translatey(-10px);
    background-color: rgb(204, 204, 204);

}
.feature i{
    font-size: 20px;
    background-color: white;
     height: 40px;
    width: 40px;
    padding-top:10px;
    border-radius: 50%;
    text-align: center;

}
.feature h3 {
    margin-top: 10px;
}
.contact-form{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
h2{
    margin-bottom: 10px;
}
.contact{
    width: 600px;
    margin: auto;
    background-color: rgb(121, 118, 118);
    padding: 20px;
    text-align: center;
}
.input-form{
    margin-bottom: 20px;
}
.input-form input{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}
.input-form textarea{
    width: 400px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}
label{
color : white;
}
button{
    background-color: rgb(226, 226, 229) ;
    width: 150px;
    height: 50px;
    border: white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer{
    height: 4px;
}
.icon{
    font-size:30px;
    background-color: white;
    height: 40px;
    width: 40px;
    padding-top:10px;
    text-align: center;
}
